.cardreport-haeder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.cardlayout-sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px;  */
}
.header-report-wrap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-onhandbyitemid{
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    padding: 10px;
}