.header-onhandbywarehouse{
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-color: aliceblue;
}
.buttondownloading{
    float: right;
    margin-right: 20px;
    background-color: antiquewhite;
}
.Loadingstylse{
    display: flex;
    justify-content:center;
    font-size:x-large;
    color:cornflowerblue;
    align-items: center;
    width:100%;
    height:500px;
}